{% extends 'base.html.twig' %}
{% block menu %} {% endblock %}
{% block title %}New Category{% endblock %}

{% block main %}
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">back to list</a>
{% endblock %}
{% block footer_links %} {% endblock %}