* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


.container {
    display: grid;
    grid-template-columns: 18% 82%;
}

table {
}

.left-menu {
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background-color: #1b1b1b;
    color: white;
}

.left-menu h2 {
    padding-top: 15px;
    color: white;
    font-weight: 600;
    text-align: center;
    background-color: #1e1e1e;
    letter-spacing: 1px;
}

.left-menu .list-management {
    color: white;
    height: 100%;
    width: 100%;
    list-style: none;

}

.left-menu .list-management li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.link {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

.link:hover {
    color: cyan;
    background-color: #1e1e1e;
    border-left-color: lightcyan;
}

.item-child:hover a {
    color: cyan;
    background-color: #1e1e1e;
    border-left-color: lightcyan;
}

nav ul ul {
    position: static;
    display: none;
}

.item-child {
    line-height: 40px;
    border-bottom: none;
}

.item-child .link {
    font-size: 16px;
    color: #e6e6e6;
    padding-left: 70px;
}

.fa-caret-down {
    top: 50%;
    right: 20px;
    position: absolute;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

.link:hover .fa-caret-down {
    transform: translateY(-50%) rotate(-180deg);
}

nav .item-management2:hover ul {
    display: block;
}

nav .item-management3:hover ul {
    display: block;
}

/* css for specified item */
.card-wrapper2 {
    max-width: 1100px;
    margin: 50px auto;
}

img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 7px;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 30px 15px;
}

.product-title {
    font-size: 45px;
    font-weight: 700;
    position: relative;
    margin: 16px 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100px;
    background-color: #1e1e1e;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
    background-color: dodgerblue;
    color: white;
    transition: all 0.5s ease;
    padding: 0 8px;
}

.product-link:hover {
    opacity: 0.8;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    color: black;
}

.product-price span {
    color: orangered;
    text-decoration: line-through;
}

.new-price span {
    color: #61dafb;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 9px;
}

.product-detail p {
    font-size: 15px;
    padding: 5px;
    opacity: 0.8;
}
.product-detail ul{
    margin: 16px 0;
    font-size: 16px;
    line-height: 20px;
    list-style: none;
}
.product-detail ul li i{
    color: orange;
}
.product-detail ul li{
    padding-left: 20px;
    margin: 7px 0;
    font-weight: 600;
}
.product-detail ul li span{
    font-weight: 500;
}
.purchase-infor{
    margin: 35px 0;
}
.purchase-infor input,
.purchase-infor button{
    padding: 9px 13px;
    border: 2px solid #DDDDDD;
    border-radius: 25px;
    text-align: center;
    margin: 13px 5px;
}
.purchase-infor input{
    width: 80px;
}
.purchase-infor button{
    cursor: pointer;
    background: #256eff;
    color: white;
}
.purchase-infor button:hover{
    opacity: 0.9;
}
@media screen and (min-width: 992px){
    .card2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
    }
    .card-wrapper2{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-img{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .product-content{
        padding-top: 60px;
        padding-left: 30px;
    }

}
.img_detail{

}