{% extends 'base.html.twig' %} {% block main %}
<div class="main_dashboard">
  <div class="main_dashboard_content">
    <h1 class="heading_bg">Let's explore our exciting video world</h1>
    <button class="dashboard_btn">Let discover</button>
  </div>
</div>
{% endblock %}
