{% extends 'base.html.twig' %} {% block title %}Product{% endblock %} {% block
main %}
<div class="about_container">
  <div class="about_intro">
    <h1 class="heading_bg">Introduction</h1>
    <p class="about_us_txt">
      According to statistics at the beginning of 2022, the market situation is
      developing again after the current epidemic, the latest statistics show
      that the number of shoppers is increasing, especially in the fashion
      sector. Understanding that, we conceived and designed an e-commerce
      project related to fashion, which is website selling shoes, products
      mainly focusing on genuine goods, from brands. as big as Nike, Adidas with
      distribution channel is the website. Our sales website is called TLT, with
      the desire to be able to replicate the business model to bring to the
      market the best products to users.
    </p>
    <h1 class="heading_bg">Developer</h1>
  </div>
  <div class="about_us">
    <div class="about_us_card">
          <img src="https://bom.so/HGj6Ry" alt="" class="about_us_img" />

     </div>
     <div class="about_us_info">
       <div class="about_us_passport">
       <h1 class="about_us_dev_name">Nguyen Van Truong</h1>
       <h4 class="about_us_dev_info">Education: University of Greenwich Viet Nam</h4>
       <h4 class="about_us_dev_info">Major: Information Technology.</h4>
       <h4 class="about_us_dev_info">Place of residence: Vinh, Nghe An.</h4>
       <h4 class="about_us_dev_info">Birthdate: 9.6.2002.</h4>
       </div>
      <div class="about_us_icons">
        <a
          href="https://www.facebook.com/profile.php?id=100043132881656"
          class="social_icon_ref"
          ><i class="fa-brands fa-facebook-square social_icon"></i
        ></a>
        <a href="" class="social_icon_ref"
          ><i class="fa-solid fa-envelope social_icon"></i
        ></a>
        <a href="https://www.instagram.com/nv_truonqqq/" class="social_icon_ref"
          ><i class="fa-brands fa-instagram social_icon"></i
        ></a>
        <a href="https://www.instagram.com/nv_truonqqq/" class="social_icon_ref"
          ><i class="fa-brands fa-twitter-square social_icon"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/nv-truong-314641220/"
          class="social_icon_ref"
          ><i
            class="fa-brands fa-linkedin social_icon"
          ></i
        ></a>
        <a href="https://github.com/truongnvgcd201597" class="social_icon_ref"
          ><i class="fa-brands fa-github social_icon"></i
        ></a>
      </div>
    </div>
   </div>
  </div>
  <div class="about_tech">
    <h1 class="heading_bg">Technologies</h1>
    <div class="about_tech_section">
      <div class="about_tech_items">
        <i class="fa-brands fa-symfony tech_icons"></i>
        <h3 class="about_tech_name">Symfony</h3>
      </div>
      <div class="about_tech_items">
        <i class="fa-brands fa-html5 tech_icons"></i>
        <h3 class="about_tech_name">HTML</h3>
      </div>
      <div class="about_tech_items">
        <i class="fa-brands fa-css3-alt tech_icons"></i>
        <h3 class="about_tech_name">CSS</h3>
      </div>
      <div class="about_tech_items">
        <i class="fa-brands fa-js tech_icons"></i>
        <h3 class="about_tech_name">Javascript</h3>
      </div>
    </div>
  </div>
  <div class="about_tech">
    <h1 class="heading_bg">Resource</h1>
    <div class="about_tech_section">
      <div class="about_tech_items">
        <i class="fa-solid fa-font-awesome tech_icons"></i>
        <h3 class="about_tech_name">Font Awesome</h3>
      </div>
      <div class="about_tech_items">
        <i class="fa-solid fa-boot tech_icons"></i>
        <h3 class="about_tech_name">Flight Club</h3>
      </div>
      <div class="about_tech_items">
        <i class="fa-solid fa-font tech_icons"></i>
        <h3 class="about_tech_name">Google Font</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}
