{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}
{% block main %}
<div class="about_container">
    <h1 class="heading_bg">About Us</h1>
    <div class="about_us">
                <div class="about_us_card">
                    <h2 class="about_heading">Al Pacino</h2>
                    <div class="about_us_icons">
                        <a href="https://www.facebook.com/profile.php?id=100043132881656"><i class="fa-brands fa-facebook-f social_icon" aria-hidden="true"></i></a>
                        <a href=""><i class="fa-solid fa-envelope social_icon" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/nv_truonqqq/"><i class="fa-brands fa-instagram social_icon" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/nv-truong-314641220/"><i class="fa-brands fa-linkedin-in social_icon" aria-hidden="true"></i></a>
                        <a href="https://github.com/truongnvgcd201597"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            <div class="about_us_card">
                <h2 class="about_heading">Al Pacino</h2>
                <div class="about_us_icons">
                    <i class="fa-brands fa-facebook-f social_icon" aria-hidden="true"></i>
                    <i class="fa-solid fa-envelope social_icon" aria-hidden="true"></i>
                    <i class="fa-brands fa-instagram social_icon" aria-hidden="true"></i>
                    <i class="fa-brands fa-linkedin-in social_icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="about_us_card">
                <h2 class="about_heading">Al Pacino</h2>
                <div class="about_us_icons">
                    <i class="fa-brands fa-facebook-f social_icon" aria-hidden="true"></i>
                    <i class="fa-solid fa-envelope social_icon" aria-hidden="true"></i>
                    <i class="fa-brands fa-instagram social_icon" aria-hidden="true"></i>
                    <i class="fa-brands fa-linkedin-in social_icon" aria-hidden="true"></i>
                </div>
            </div>
    </div>
    <div class="about_product">
    <h1 class="heading_bg">About Product</h1>
    </div>
</div>
{% endblock %}