{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}
{% block main %}
    <div class="about_container">
        <div class="about_intro">
            <h1 class="heading_bg">Introduction</h1>
            <p class="about_us_txt">In the increasingly high fashion trend, we invented and created our first e-commerce project in
                the field of fashion that is selling shoes and sandals. The project was created and developed by 🐸Truong, 🦁 Linh, 🙈 Thien, students of class GCD0905, 🏫 University of Greenwich Vietnam Danang campus</p>
            <h1 class="heading_bg">Introduction</h1>
        </div>
        <div class="about_us">
            <div class="about_us_card">
                <h2 class="about_heading">Van Truong</h2>
                <div class="about_us_icons">
                    <a href="https://www.facebook.com/profile.php?id=100043132881656" class="social_icon_ref"><i
                                class="fa-brands fa-facebook-f social_icon" aria-hidden="true"></i></a>
                    <a href="" class="social_icon_ref"><i class="fa-solid fa-envelope social_icon"
                                                          aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/nv_truonqqq/" class="social_icon_ref"><i
                                class="fa-brands fa-instagram social_icon" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/nv-truong-314641220/" class="social_icon_ref"><i
                                class="fa-brands fa-linkedin-in social_icon" aria-hidden="true"></i></a>
                    <a href="https://github.com/truongnvgcd201597" class="social_icon_ref"><i
                                class="fa-brands fa-github social_icon"></i></a>
                </div>
            </div>
            <div class="about_us_card">
                <h2 class="about_heading">Al Pacino</h2>
                <div class="about_us_icons">
                    <a href="https://www.facebook.com/profile.php?id=100043132881656" class="social_icon_ref"><i
                                class="fa-brands fa-facebook-f social_icon" aria-hidden="true"></i></a>
                    <a href="" class="social_icon_ref"><i class="fa-solid fa-envelope social_icon"
                                                          aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/nv_truonqqq/" class="social_icon_ref"><i
                                class="fa-brands fa-instagram social_icon" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/nv-truong-314641220/" class="social_icon_ref"><i
                                class="fa-brands fa-linkedin-in social_icon" aria-hidden="true"></i></a>
                    <a href="https://github.com/truongnvgcd201597" class="social_icon_ref"><i
                                class="fa-brands fa-github social_icon"></i></a>
                </div>
            </div>
            <div class="about_us_card">
                <h2 class="about_heading">Al Pacino</h2>
                <div class="about_us_icons">
                    <a href="https://www.facebook.com/profile.php?id=100043132881656" class="social_icon_ref"><i
                                class="fa-brands fa-facebook-f social_icon" aria-hidden="true"></i></a>
                    <a href="" class="social_icon_ref"><i class="fa-solid fa-envelope social_icon"
                                                          aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/nv_truonqqq/" class="social_icon_ref"><i
                                class="fa-brands fa-instagram social_icon" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/nv-truong-314641220/" class="social_icon_ref"><i
                                class="fa-brands fa-linkedin-in social_icon" aria-hidden="true"></i></a>
                    <a href="https://github.com/truongnvgcd201597" class="social_icon_ref"><i
                                class="fa-brands fa-github social_icon"></i></a>
                </div>
            </div>
        </div>
        <div class="about_tech">
            <h1 class="heading_bg">Technologies</h1>
            <div class="about_tech_section">
                <div class="about_tech_items">
                    <i class="fa-brands fa-symfony tech_icons"></i>
                    <h3 class="about_tech_name">Symfony</h3>
                </div>
                <div class="about_tech_items">
                    <i class="fa-brands fa-html5 tech_icons"></i>
                    <h3 class="about_tech_name">HTML</h3>
                </div>
                <div class="about_tech_items">
                    <i class="fa-brands fa-css3-alt tech_icons"></i>
                    <h3 class="about_tech_name">CSS</h3>
                </div>
                <div class="about_tech_items">
                    <i class="fa-brands fa-js tech_icons"></i>
                    <h3 class="about_tech_name">Javascript</h3>
                </div>
            </div>
        </div>
        <div class="about_tech">
            <h1 class="heading_bg">Resource</h1>
            <div class="about_tech_section">
                <div class="about_tech_items">
                    <i class="fa-solid fa-font-awesome tech_icons"></i>
                    <h3 class="about_tech_name">Font Awesome</h3>
                </div>
                <div class="about_tech_items">
                    <i class="fa-solid fa-boot tech_icons"></i>
                    <h3 class="about_tech_name">Flight Club</h3>
                </div>
                <div class="about_tech_items">
                    <i class="fa-solid fa-font tech_icons"></i>
                    <h3 class="about_tech_name">Google Font</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}