{% extends 'base.html.twig' %}
{% block main %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Candal&display=swap" rel="stylesheet">
    <div class="main_dashboard">
    </div>
    <div class="main_dashboard_text_content">
        <h1 class="heading_bg">Let's explore our exciting video world</h1>
        <button class="dashboard_btn">Let discover</button>
    </div>
    <div class="main_dashboard_img_list">
        <div class="img_list_col_1 img_dashboard">
            <button class="main_dashboard_img_button">Shop now</button>
        </div>
        <div class="img_list_col_3 img_dashboard">
            <button class="main_dashboard_img_button">Shop now</button>
        </div>
        <div class="img_list_col_2 img_dashboard">
            <button class="main_dashboard_img_button">Shop now</button>
        </div>
    </div>
{% endblock %}
