{% extends 'base.html.twig' %}
{% block menu %}{% endblock %}
{% block main %}
    <div class="login_container">
        <form action="" method="post">
            <a class="form-home" href="{{ path('main_page') }}">
                <i class="fa-solid fa-house form-home-ic"></i>
            </a>
            <h3 class="heading_bg">Please sign in</h3>
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Email address" required autofocus>
            <button class="login_btn" type="submit">Sign in</button>
            <a href="{{ path('register') }}" class="text_route_form">I'm new</a>
        </form>
    </div>
{% endblock %}
{% block footer_links %}{% endblock %}