{% extends 'base.html.twig' %}
{% block menu %}{% endblock %}
{% block main %}
    <div class="login_container">
        <form id="form-1" method="POST" action="#" class="needs-validation" novalidate>
            <a class="form-home" href="{{ path('main_page') }}">
                <i class="fa-solid fa-house form-home-ic"></i>
            </a>

            <h3 class="heading_bg">Please sign up</h3>
            <div class="form-group">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" value=""
                       required>
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" value=""
                       required>
                <span class="form-message"> </span>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="email@domain.com"
                       required>
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
                <span class="form-message"></span>
            </div>
            <div class="form-group">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" placeholder="Re-enter your password"
                       required>
                <span class="form-message"></span>
            </div>

            <a href="" role="button">
                <button class="login_btn" type="submit">Register</button>
            </a>

            <a class="text_route_form" href="{{ path('login') }}">I already have an account</a>
        </form>
    </div>


{% endblock %}

{% block js %}
    {#        Xử lý các yêu cầu #}
    <script src={{ asset('assets/js/validator.js') }}></script>

    {#    Lệnh để gọi những yêu cầu mà chúng ta muốn validate #}
    <script>
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#firstName', 'Please input your firstname'),
                Validator.isRequired('#lastName', 'Please input your lastname'),
                Validator.isRequired('#email', 'Please input your email'),
                Validator.isEmail('#email', 'You must input an email'),
                Validator.minLength('#password', 6, 'Please enter at least 6 characters'),
                Validator.isRequired('#confirm_password', 'Please input your confirm password'),
                Validator.isConfirmed('#confirm_password', function () {
                    return document.querySelector('#form-1 #password').value;
                }, 'Confirm password is incorrect'),
            ],
        })
    </script>


{% endblock %}

{% block footer_links %}{% endblock %}