{% extends 'admin/base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block rightContent %}
    <div class="edit-product-container">
        <h1 style="text-align: center; margin-bottom: 30px">Edit Order</h1>

        {{ include('order/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_order_action') }}" class="form-icon">
            <i class="fa-solid fa-arrow-left form-icon__ic"></i>
        </a>
    </div>
{% endblock %}
